/* inter-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  src: url("../../assets/fonts/inter-v13-latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("../../assets/fonts/inter-v13-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../../assets/fonts/inter-v13-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/inter-v13-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../../assets/fonts/inter-v13-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../../assets/fonts/inter-v13-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../../assets/fonts/inter-v13-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("../../assets/fonts/inter-v13-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../../assets/fonts/inter-v13-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.load_wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 400vh;
  background-color: rgba(255, 255, 255, 0.5098039216);
  z-index: 9999;
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  padding-top: 400px;
  display: none;
}

.loader {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  display: inline-block;
  border-top: 8px solid rgb(68, 230, 227);
  border-right: 8px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 108px;
  height: 108px;
  border-radius: 50%;
  border-left: 8px solid #0A65CC;
  border-bottom: 8px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#last .last-wrap-right a, #last .last-wrap-left a, #clients .clients-wrap button, #companies .companies-wrap-cards-card button, #companies .companies-wrap-titil span button, #featured .featured-wrap-titil a, #popular .popular-wrap-titil a, header .nav-bottom-wrap .nav-bottom-btn button:nth-child(1), .btn-warning, .btn-danger, .btn-success, .btn-primary {
  padding: 12px 24px;
  display: grid;
  place-content: center;
  border-radius: 3px;
  border: 1px solid #CEE0F5;
  color: #0A65CC;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  background: transparent;
  cursor: pointer;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

#last .last-wrap-right a:hover, #last .last-wrap-left a:hover, #clients .clients-wrap button:hover, #companies .companies-wrap-cards-card button:hover, #companies .companies-wrap-cards-card:hover button, #companies .companies-wrap-titil span button:hover, #featured .featured-wrap-titil a:hover, #popular .popular-wrap-titil a:hover, header .nav-bottom-wrap .nav-bottom-btn button:nth-child(1):hover, .btn-warning:hover, .btn-danger:hover, .btn-success:hover, .btn-primary:hover {
  transition: all 0.2s linear;
  background-color: #0A65CC;
  color: #FFF;
  border: 1px solid #0A65CC;
}

#last .last-wrap-right a:active, #last .last-wrap-left a:active, #clients .clients-wrap button:active, #companies .companies-wrap-cards-card button:active, #companies .companies-wrap-titil span button:active, #featured .featured-wrap-titil a:active, #popular .popular-wrap-titil a:active, header .nav-bottom-wrap .nav-bottom-btn button:nth-child(1):active {
  background-color: transparent;
  color: #0A65CC;
  border: 1px solid #EDEFF5;
}

#intro .intro-wrap-top-left-card button, header .nav-bottom-wrap .nav-bottom-btn button:nth-child(2) {
  padding: 12px 24px;
  display: grid;
  place-content: center;
  border-radius: 3px;
  border: 1px solid #0A65CC;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  background: #0A65CC;
  cursor: pointer;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

#intro .intro-wrap-top-left-card button:hover, header .nav-bottom-wrap .nav-bottom-btn button:nth-child(2):hover {
  transition: all 0.2s linear;
  background-color: transparent;
  color: #0A65CC;
  border: 1px solid #EDEFF5;
}

#intro .intro-wrap-top-left-card button:active, header .nav-bottom-wrap .nav-bottom-btn button:nth-child(2):active {
  background-color: #0A65CC;
  color: #FFF;
  border: 1px solid #0A65CC;
}

.card, .box {
  background-color: #ede0e0;
  box-shadow: 0 0 10px rgb(93, 93, 93);
  margin: 10px;
  border-radius: 12px;
  transition: all 0.2s ease;
}

.card:hover, .box:hover {
  box-shadow: 0 0 20px rgb(93, 93, 93);
  background-color: azure;
}

.box {
  width: 200px;
  height: 200px;
}

.card {
  width: 400px;
  height: 400px;
}

.wrapper-card {
  width: 300px;
  height: 450px;
  background-color: red;
  box-shadow: 0 0 20px silver;
  border-radius: 10px 20px 30px;
  margin: 10px;
  transition: all 0.2s ease;
  background-color: lime;
}

.btn-success {
  background-color: teal;
}

.btn-danger {
  background-color: crimson;
}

.btn-warning {
  background-color: #ffd900;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 10px;
}

header {
  width: 100%;
}
header .nav-top-wrap {
  background: rgba(241, 242, 244, 0.6);
}
header .nav-top-wrap .nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .nav-top-wrap .nav-top-right {
  display: flex;
  align-items: center;
  gap: 24px;
}
header .nav-top-wrap .nav-top-right li a {
  display: block;
  color: #767F8C;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding: 14px 0px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s linear;
}
header .nav-top-wrap .nav-top-right li a:hover {
  font-weight: 500;
  color: #0A65CC;
  transition: all 0.2s linear;
}
header .nav-top-wrap .nav-top-right li a:hover::after {
  background-color: #0A65CC;
}
header .nav-top-wrap .nav-top-right li a::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 2px;
  left: 0;
  background-color: transparent;
}
header .nav-top-wrap .nav-top-right .active {
  color: #0A65CC;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding: 14px 0px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s linear;
}
header .nav-top-wrap .nav-top-right .active::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 2px;
  left: 0;
  background-color: #0A65CC;
}
header .nav-top-wrap .nav-top-left {
  display: flex;
  align-items: center;
  gap: 24px;
}
header .nav-top-wrap .nav-top-left p {
  display: flex;
  align-items: center;
  gap: 8px;
}
header .nav-top-wrap .nav-top-left p span {
  color: #18191C;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
header .nav-top-wrap .nav-top-left-selectwrap {
  display: flex;
  align-items: center;
  gap: 8px;
}
header .nav-top-wrap .nav-top-left-selectwrap select {
  border: none;
  outline: none;
  background: transparent;
  color: #767F8C;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding: 14px 0px;
  cursor: pointer;
}
header .nav-bottom-wrap {
  width: 100%;
  padding: 20px 0px;
  border-bottom: 1px solid rgba(241, 242, 244, 0.6);
}
header .nav-bottom-wrap .nav-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .nav-bottom-wrap .nav-bottom-serch {
  display: flex;
  padding: 9px 24px;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
  border: 1px solid #EDEFF5;
  margin-left: -100px;
}
header .nav-bottom-wrap .nav-bottom-serch-left {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0px 20px 0px 0px;
  border-right: 1px solid #EDEFF5;
}
header .nav-bottom-wrap .nav-bottom-serch-left select {
  border: none;
  outline: none;
  background: transparent;
  color: #18191C;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding: 7px 0px;
  cursor: pointer;
}
header .nav-bottom-wrap .nav-bottom-serch-right {
  display: flex;
  align-items: center;
  gap: 12px;
}
header .nav-bottom-wrap .nav-bottom-serch-right i {
  font-size: 24px;
  color: #0A65CC;
}
header .nav-bottom-wrap .nav-bottom-serch-right input {
  width: 500px;
  border: none;
  outline: none;
  background: transparent;
  color: #18191C;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
header .nav-bottom-wrap .nav-bottom-serch-right input::placeholder {
  color: #767F8C;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
header .nav-bottom-wrap .nav-bottom-btn {
  display: flex;
  align-items: center;
  gap: 12px;
}
footer {
  width: 100%;
  padding-top: 100px;
  background-color: #18191C;
}
footer .footer-top-wrap {
  display: flex;
  align-items: start;
  gap: 90px;
  padding-bottom: 80px;
}
footer .footer-top-wrap-left h3 {
  color: #767F8C;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin: 24px 0px 12px;
}
footer .footer-top-wrap-left h3 span {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
footer .footer-top-wrap-left p {
  width: 312px;
  color: #767F8C;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
footer .footer-top-wrap-right ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
}
footer .footer-top-wrap-right ul li {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .footer-top-wrap-right ul li h3 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
footer .footer-top-wrap-right ul li p {
  width: 200px;
  overflow: hidden;
  color: #767F8C;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
  transition: all 0.2s linear;
}
footer .footer-top-wrap-right ul li p:hover {
  color: #fff;
  font-weight: 500;
  transition: all 0.2s linear;
  padding-left: 29px;
}
footer .footer-top-wrap-right ul li p:hover i {
  left: 0px;
  opacity: 1;
}
footer .footer-top-wrap-right ul li p i {
  font-size: 20px;
  color: #fff;
  position: absolute;
  left: -29px;
  opacity: 0;
}
footer .footer-bottom-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0px;
  border-top: 1px solid #767F8C;
}
footer .footer-bottom-wrap p {
  color: #767F8C;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
footer .footer-bottom-wrap p span {
  font-weight: 700;
}
footer .footer-bottom-wrap div {
  display: flex;
  align-items: center;
  gap: 20px;
}

#intro {
  width: 100%;
  padding: 109px 0px 100px 0px;
  background-color: rgba(241, 242, 244, 0.6);
}
#intro .intro-wrap {
  display: flex;
  flex-direction: column;
  gap: 109px;
}
#intro .intro-wrap-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#intro .intro-wrap-top-left h1 {
  width: 652px;
  color: #18191C;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 64px;
  margin-bottom: 24px;
}
#intro .intro-wrap-top-left p:nth-child(2) {
  width: 536px;
  color: #767F8C;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 32px;
}
#intro .intro-wrap-top-left-card {
  display: flex;
  padding: 12px;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid #EDEFF5;
  background: #FFF;
  box-shadow: 0px 12px 40px 0px rgba(0, 44, 109, 0.04);
}
#intro .intro-wrap-top-left-card-serch {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 18px;
}
#intro .intro-wrap-top-left-card-serch i {
  color: #0A65CC;
  font-size: 24px;
}
#intro .intro-wrap-top-left-card-serch input {
  border: none;
  outline: none;
  color: #18191C;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
#intro .intro-wrap-top-left-card-serch input::placeholder {
  color: #767F8C;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
#intro .intro-wrap-top-left-card-location {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 18px;
  border-left: 1px solid #EDEFF5;
}
#intro .intro-wrap-top-left-card-location i {
  color: #0A65CC;
  font-size: 24px;
}
#intro .intro-wrap-top-left-card-location span {
  color: #767F8C;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
#intro .intro-wrap-top-left p:nth-child(4) {
  display: flex;
  align-items: center;
  color: var(--Gray-700, #474C54);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 24px;
}
#intro .intro-wrap-top-left p:nth-child(4) span:nth-child(1) {
  color: var(--Gray-400, #9199A3);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
#intro .intro-wrap-top-left p:nth-child(4) span:nth-child(2) {
  color: #0A65CC;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
#intro .intro-wrap-bottom-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#intro .intro-wrap-bottom-cards-card {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-radius: 8px;
  background: #FFF;
  cursor: pointer;
  transition: all 0.2s linear;
}
#intro .intro-wrap-bottom-cards-card:hover {
  box-shadow: 0px 12px 48px 0px rgba(0, 44, 109, 0.1);
  transition: all 0.2s linear;
}
#intro .intro-wrap-bottom-cards-card:hover .intro-wrap-bottom-cards-card-icon {
  transition: all 0.2s linear;
  background: #0A65CC;
}
#intro .intro-wrap-bottom-cards-card:hover .intro-wrap-bottom-cards-card-icon i {
  transition: all 0.2s linear;
  color: #FFF;
}
#intro .intro-wrap-bottom-cards-card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background: #E7F0FA;
  border-radius: 8px;
}
#intro .intro-wrap-bottom-cards-card-icon i {
  color: #0A65CC;
  font-size: 24px;
}
#intro .intro-wrap-bottom-cards-card-text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
#intro .intro-wrap-bottom-cards-card-text h3 {
  width: 180px;
  color: #18191C;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
#intro .intro-wrap-bottom-cards-card-text p {
  width: 180px;
  color: #767F8C;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

#jobs {
  width: 100%;
  padding: 100px 0px;
}
#jobs .jobs-wrap h2 {
  color: #18191C;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  margin-bottom: 50px;
}
#jobs .jobs-wrap-text {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#jobs .jobs-wrap-text ul {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
#jobs .jobs-wrap-text ul li h3 {
  display: inline-block;
  color: #18191C;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  position: relative;
  padding-bottom: 1px;
  border-bottom: 2px solid transparent;
  transition: all 0.2s linear;
  margin-bottom: 4px;
}
#jobs .jobs-wrap-text ul li h3:hover {
  color: #0A65CC;
  border-bottom: 2px solid #0A65CC;
  transition: all 0.2s linear;
}
#jobs .jobs-wrap-text ul li p {
  color: #767F8C;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

#jobpilot {
  width: 100%;
  padding: 100px 0px;
  background-color: rgba(241, 242, 244, 0.6);
}
#jobpilot .jobpilot-wrap h2 {
  color: #18191C;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  margin-bottom: 50px;
}
#jobpilot .jobpilot-wrap-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}
#jobpilot .jobpilot-wrap-cards-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 12px;
  transition: all 0.2s ease;
  gap: 24px;
  padding: 24px;
  position: relative;
  cursor: pointer;
}
#jobpilot .jobpilot-wrap-cards-card:hover {
  box-shadow: 0px 0px 3px 0px #EDEFF5;
  background-color: #FFF;
  transition: all 0.2s linear;
}
#jobpilot .jobpilot-wrap-cards-card:hover .jobpilot-wrap-cards-card-icon {
  background-color: #0A65CC;
  transition: all 0.3s linear;
}
#jobpilot .jobpilot-wrap-cards-card:hover .jobpilot-wrap-cards-card-icon i {
  color: #FFF;
  transition: all 0.3s linear;
}
#jobpilot .jobpilot-wrap-cards-card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #FFF;
  border-radius: 50%;
}
#jobpilot .jobpilot-wrap-cards-card-icon i {
  font-size: 24px;
  color: #0A65CC;
}
#jobpilot .jobpilot-wrap-cards-card-text h3 {
  color: #18191C;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 12px;
}
#jobpilot .jobpilot-wrap-cards-card-text p {
  color: #767F8C;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
#jobpilot .jobpilot-wrap-cards-card img {
  position: absolute;
  z-index: 3;
}
#jobpilot .jobpilot-wrap-cards .jobpilot-wrap-cards-card:nth-child(1) img {
  left: 210px;
  top: 10px;
}
#jobpilot .jobpilot-wrap-cards .jobpilot-wrap-cards-card:nth-child(2) img {
  left: 210px;
  top: 70px;
}
#jobpilot .jobpilot-wrap-cards .jobpilot-wrap-cards-card:nth-child(3) img {
  left: 210px;
  top: 10px;
}

#popular {
  width: 100%;
  padding: 100px 0px;
  border-bottom: 1px solid #E4E5E8;
}
#popular .popular-wrap-titil {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
#popular .popular-wrap-titil h2 {
  color: #18191C;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}
#popular .popular-wrap-titil a {
  display: flex;
  align-items: center;
  gap: 12px;
}
#popular .popular-wrap-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}
#popular .popular-wrap-cards-card {
  display: flex;
  padding: 24px;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
  border-radius: 12px;
  background: #FFF;
  transition: all 0.2s linear;
}
#popular .popular-wrap-cards-card:hover {
  transition: all 0.2s linear;
  box-shadow: 0px 12px 48px 0px rgba(0, 44, 109, 0.1);
}
#popular .popular-wrap-cards-card:hover .popular-wrap-cards-card-icon {
  background-color: #0A65CC;
  transition: all 0.2s linear;
}
#popular .popular-wrap-cards-card:hover .popular-wrap-cards-card-icon i {
  color: #FFF;
}
#popular .popular-wrap-cards-card:hover .popular-wrap-cards-card-text h3 {
  color: #0A65CC;
}
#popular .popular-wrap-cards-card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
  background-color: #E7F0FA;
  border-radius: 8px;
}
#popular .popular-wrap-cards-card-icon i {
  font-size: 24px;
  color: #0A65CC;
}
#popular .popular-wrap-cards-card-text h3 {
  color: #18191C;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 8px;
}
#popular .popular-wrap-cards-card-text p {
  color: #767F8C;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

#featured {
  width: 100%;
  padding: 100px 0px;
}
#featured .featured-wrap-titil {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
#featured .featured-wrap-titil h2 {
  color: #18191C;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}
#featured .featured-wrap-titil a {
  display: flex;
  align-items: center;
  gap: 12px;
}
#featured .featured-wrap-cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#featured .featured-wrap-cards-card {
  display: inline-flex;
  padding: 32px;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  border: 1px solid var(--Gray-Scale-50, #EDEFF5);
  background: var(--Gray-Scale-White, #FFF);
  transition: all 0.2s linear;
  cursor: pointer;
}
#featured .featured-wrap-cards-card:hover {
  border: 1px solid #0A65CC;
  box-shadow: 0px 12px 48px 0px rgba(0, 44, 109, 0.1);
  transition: all 0.2s linear;
}
#featured .featured-wrap-cards-card:hover .featured-wrap-cards-card-left-text h3 {
  color: #0A65CC;
}
#featured .featured-wrap-cards-card:hover .featured-wrap-cards-card-right button {
  background-color: #E7F0FA;
}
#featured .featured-wrap-cards-card:hover .featured-wrap-cards-card-right a {
  color: #FFF;
  background-color: #0A65CC;
}
#featured .featured-wrap-cards-card-left {
  display: flex;
  align-items: center;
  gap: 20px;
}
#featured .featured-wrap-cards-card-left-text {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
#featured .featured-wrap-cards-card-left-text h3 {
  color: #18191C;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  display: flex;
  align-items: center;
  gap: 8px;
}
#featured .featured-wrap-cards-card-left-text h3 span {
  display: flex;
  padding: 3px 12px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 52px;
  background: var(--Primary-50, #E8F1FF);
  color: #0A65CC;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
#featured .featured-wrap-cards-card-left-text p {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #636A80;
}
#featured .featured-wrap-cards-card-left-text p span {
  display: flex;
  align-items: center;
  gap: 6px;
}
#featured .featured-wrap-cards-card-left-text p span i {
  font-size: 22px;
}
#featured .featured-wrap-cards-card-right {
  display: flex;
  align-items: center;
  gap: 12px;
}
#featured .featured-wrap-cards-card-right button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  padding: 10px 12px;
  border-radius: 5px;
}
#featured .featured-wrap-cards-card-right button i {
  font-size: 24px;
  color: #0A65CC;
}
#featured .featured-wrap-cards-card-right a {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 3px;
  background: var(--Primary-50, #E7F0FA);
  color: #0A65CC;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  text-transform: capitalize;
}

#companies {
  width: 100%;
  padding-bottom: 100px;
}
#companies .companies-wrap-titil {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
#companies .companies-wrap-titil h2 {
  color: #18191C;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}
#companies .companies-wrap-titil span {
  display: flex;
  align-items: center;
  gap: 12px;
}
#companies .companies-wrap-titil span button {
  display: flex;
  align-items: center;
  color: #0A65CC;
  background-color: #E7F0FA;
  border: 1px solid #E7F0FA;
}
#companies .companies-wrap-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
  row-gap: 24px;
}
#companies .companies-wrap-cards-card {
  padding: 32px;
  flex: 1 0 0;
  border-radius: 12px;
  background: #FFF;
  transition: all 0.2s linear;
  border: 1px solid transparent;
  cursor: pointer;
}
#companies .companies-wrap-cards-card:hover {
  transition: all 0.2s linear;
  box-shadow: 0px 12px 48px 0px rgba(0, 44, 109, 0.1);
  border: 1px solid #0A65CC;
}
#companies .companies-wrap-cards-card:hover .companies-wrap-cards-card-left-text h3 {
  color: #0A65CC;
}
#companies .companies-wrap-cards-card-left {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}
#companies .companies-wrap-cards-card-left-text h3 {
  color: #18191C;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}
#companies .companies-wrap-cards-card-left-text h3 span {
  color: #E05151;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 12px;
  background-color: #FCEEEE;
  border-radius: 52px;
}
#companies .companies-wrap-cards-card-left-text p {
  color: #767F8C;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}
#companies .companies-wrap-cards-card-left-text p i {
  font-size: 18px;
}
#companies .companies-wrap-cards-card button {
  width: 100%;
  display: flex;
  align-items: center;
  color: #0A65CC;
  background-color: #E7F0FA;
  border: 1px solid #E7F0FA;
}
#clients {
  width: 100%;
  padding: 100px 0px;
  background-color: rgba(241, 242, 244, 0.6);
}
#clients .clients-wrap {
  position: relative;
}
#clients .clients-wrap h2 {
  color: #18191C;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}
#clients .clients-wrap .caruse-wrap {
  overflow: hidden;
  padding: 50px 0px;
}
#clients .clients-wrap .caruse-wrap .carusel2 {
  display: flex;
  align-items: center;
  gap: 24px;
  transition: all 0.3s linear;
  transform: translateX(0px);
}
#clients .clients-wrap .caruse-wrap .carusel2-card {
  padding: 24px 24px 26px 24px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 12px 80px 0px rgba(0, 44, 109, 0.05);
}
#clients .clients-wrap .caruse-wrap .carusel2-card p {
  height: 120px;
  width: 376px;
  overflow: hidden;
  color: #767F8C;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 16px;
  margin-bottom: 32px;
}
#clients .clients-wrap .caruse-wrap .carusel2-card div {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
}
#clients .clients-wrap .caruse-wrap .carusel2-card div span {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
#clients .clients-wrap .caruse-wrap .carusel2-card div span strong {
  color: #18191C;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
#clients .clients-wrap .caruse-wrap .carusel2-card div span span {
  color: #767F8C;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
#clients .clients-wrap .caruse-wrap .carusel2-card div img:nth-child(3) {
  position: absolute;
  top: 0px;
  right: 0px;
}
#clients .clients-wrap button {
  background-color: #fff;
  border: 1px solid #FFF;
  padding: 12px 12px;
}
#clients .clients-wrap button:nth-child(3) {
  position: absolute;
  top: 45%;
  left: -50px;
}
#clients .clients-wrap button:nth-child(4) {
  position: absolute;
  top: 45%;
  right: -50px;
}
#clients .clients-wrap .span-wrap {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
  left: 47%;
}
#clients .clients-wrap .span-wrap span {
  width: 10px;
  height: 10px;
  border-radius: 32px;
  background: var(--Primary-200, #99C2FF);
}

#last {
  width: 100%;
  padding: 100px 0px;
}
#last .last-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
#last .last-wrap-left {
  padding: 50px;
  border-radius: 12px;
  background: var(--Gray-100, #E4E5E8);
}
#last .last-wrap-left h2 {
  width: 548px;
  color: #18191C;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 16px;
}
#last .last-wrap-left p {
  width: 312px;
  color: #767F8C;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 26px;
}
#last .last-wrap-left a {
  background-color: #fff;
  border: 1px solid #FFF;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 188px;
}
#last .last-wrap-right {
  padding: 50px;
  border-radius: 12px;
  background: #0A65CC;
}
#last .last-wrap-right h2 {
  width: 548px;
  color: #FFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 16px;
}
#last .last-wrap-right p {
  width: 312px;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 26px;
}
#last .last-wrap-right a {
  background-color: #fff;
  border: 1px solid #FFF;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 188px;
}
#last .last-wrap-right a:hover {
  border: 1px solid #FFF;
}/*# sourceMappingURL=style.css.map */