%buttonStyle{
    padding: 12px 24px;
    display: grid;
    place-content: center;
    border-radius: 3px;
    border: 1px solid  #CEE0F5;
    color: $color-primary;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
    background: transparent;
    cursor: pointer;
    text-transform: capitalize;
    transition: all 0.2s linear;

    
}

%buttonStyleHover{
    transition: all 0.2s linear;
    background-color: $color-primary;
    color: #FFF;
    border: 1px solid  $color-primary;
}

%buttonStyleFocus{
    background-color: transparent;
    color: $color-primary;
    border: 1px solid  $border-color;
}


////-------------------------------btn2--------

%buttonStyle2{
    padding: 12px 24px;
    display: grid;
    place-content: center;
    border-radius: 3px;
    border: 1px solid  $color-primary;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
    background: $color-primary;
    cursor: pointer;
    text-transform: capitalize;
    transition: all 0.2s linear;

    
}

%buttonStyleHover2{
    transition: all 0.2s linear;
    background-color: transparent;
    color: $color-primary;
    border: 1px solid  $border-color;
}

%buttonStyleFocus2{
    background-color: $color-primary;
    color: #FFF;
    border: 1px solid  $color-primary;
}