#intro{
    width: 100%;
    padding: 109px 0px 100px 0px;
    background-color: $bg-color;

    .intro-wrap{
        display: flex;
        flex-direction: column;
        gap: 109px;

        &-top{
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-left{
                h1{
                    width: 652px;
                    color: $text-color1;
                    font-size: 56px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 64px;
                    margin-bottom: 24px;
                }

                p:nth-child(2){
                    width: 536px;
                    color: $text-color2;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                    margin-bottom: 32px;
                }

                &-card{
                    display: flex;
                    padding: 12px;
                    align-items: center;
                    justify-content: space-between;
                    gap: 12px;
                    border-radius: 8px;
                    border: 1px solid $border-color;
                    background: #FFF;
                    box-shadow: 0px 12px 40px 0px rgba(0, 44, 109, 0.04);

                    &-serch{
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        padding: 10px  18px;

                        i{
                            color: $color-primary;
                            font-size: 24px;
                        }

                        input{
                             
                            border: none;
                            outline: none;
                            color: $text-color1;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;
                            
                            &::placeholder{
                                color: $text-color2;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 24px;
                            }
                        }
                    }

                    &-location{
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        padding: 10px  18px;
                        border-left: 1px solid $border-color;

                        i{
                            color: $color-primary;
                            font-size: 24px;
                        }

                        span{
                            color: $text-color2;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;
                        }
                    }

                    button{
                        @extend %buttonStyle2;

                        &:hover{
                          @extend %buttonStyleHover2;
                        }
            
                        &:active{
                          @extend %buttonStyleFocus2;
                        }
                    }
                }

                p:nth-child(4){
                    display: flex;
                    align-items: center;
                    color: var(--Gray-700, #474C54);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    margin-top: 24px;

                    span:nth-child(1){
                        color: var(--Gray-400, #9199A3);
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                    }
                     
                    span:nth-child(2){
                        color: $color-primary;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 20px;
                    }

                }
            }

        }

        &-bottom{
            
            &-cards{
                display: flex;
                align-items: center;
                justify-content: space-between;

                &-card{
                    display: flex;
                    padding: 20px;
                    align-items: center;
                    justify-content: space-between;
                    gap: 20px;
                    border-radius: 8px;
                    background: #FFF;
                    cursor: pointer;
                    transition: all .2s linear;

                    &:hover{
                        box-shadow: 0px 12px 48px 0px rgba(0, 44, 109, 0.10);
                        transition: all .2s linear;
                        .intro-wrap-bottom-cards-card-icon{
                            transition: all .2s linear;
                            background: $color-primary;
                            i{
                                transition: all .2s linear;
                                color: #FFF;
                            }
                        }
                    }

                    &-icon{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 16px;
                        background: $min-bg-color;
                        border-radius: 8px;

                        i{
                            color: $color-primary;
                            font-size: 24px;
                        }
                    }

                    &-text{
                        display: flex;
                        flex-direction: column;
                        gap: 6px;

                        h3{
                            width: 180px;
                            color: $text-color1;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 32px;
                        } 

                        p{
                            width: 180px;
                            color: $text-color2;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px; 
                        }
                    }
                }
            }
        }
    }
}