#popular{
    width: 100%;
    padding: 100px 0px;
    border-bottom: 1px solid #E4E5E8;

    .popular-wrap{

        &-titil{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 50px;

            h2{
                color: $text-color1;
                font-size: 40px;
                font-style: normal;
                font-weight: 500;
                line-height: 48px;
            }

            a{
                @extend %buttonStyle;
                display: flex;
                align-items: center;
                gap: 12px;

                &:hover{
                  @extend %buttonStyleHover;
                }
   
                &:active{
                  @extend %buttonStyleFocus;
                }
            }
        }

        &-cards{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 24px;
            grid-row-gap: 24px;

            &-card{
                display: flex;
                padding: 24px;
                align-items: center;
                gap: 16px;
                flex: 1 0 0;
                border-radius: 12px;
                background:  #FFF;
                transition: all 0.2s linear;

                &:hover{
                    transition: all 0.2s linear;
                    box-shadow: 0px 12px 48px 0px rgba(0, 44, 109, 0.10);

                    .popular-wrap-cards-card-icon{
                        background-color: $color-primary;
                        transition: all 0.2s linear;

                        i{
                            color: #FFF;
                        }
                    }

                    .popular-wrap-cards-card-text{
                        h3{
                            color: $color-primary;
                        }
                    }
                }

                &-icon{
                     display: flex;
                     align-items: center;
                     justify-content: center;
                     padding: 18px;
                     background-color: $min-bg-color;
                     border-radius: 8px;

                     i{
                         font-size: 24px;
                         color: $color-primary;
                     }
                }

                &-text{
                    h3{
                        color: $text-color1;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 28px;
                        margin-bottom: 8px;
                    }

                    p{
                        color: $text-color2;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}